@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Zawisza Pajęczno<br />
    Wrocław<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Ustawki:</strong>   <a href="mailto:Ustawki@pajeczno.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@pajeczno.com">Marketing@example.com</a><br />
    <strong>Sprzedaż meczy:</strong> <a href="mailto:SprzedazMeczy@pajeczno.com">SprzedazMeczy@pajeczno.com</a>
</address>