body {
}

.navbar-inverse {
    background-color: #10446d;
    color: white;
}

h2 {
    color: #13334D;
}

.sitepanel{
    background-color: #eeeeee;
}

/*.navbar-inverse .navbar-brand {
    background-color: #10446d;
    color: white;
}*/

/*.navbar-inverse .navbar-nav {
    background-color: #10446d;
    color: white;
}*/