body {
}

.navbar-inverse {
    background-color: #10446d;
    color: white;
}

h2 {
    color: #13334D;
}

.sitepanel{
    background-color: #eeeeee;
}

.parallax {
    /* The image used */
    background-image: url(Images/torres-1670879_1920.jpg);

    /* Set a specific height */
    min-height: 600px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slogan{
    font-family: 'Lato', sans-serif;
    color: white;
}

.slogan-main {
    font-size: 9vw;
}

.slogan-minor {
    font-size: 5vw;
}

.sloganContainer{
    margin-top: 14px;
    padding-top: 15em;
    padding-left: 2em;
}

/*dropdown opened color*/
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #10446d;
}

.navbar .nav > li > a {
    font-family: 'Lato', sans-serif;
    color: #FFFFFF!important;
}

.dropdown-menu > li > a {
    font-family: 'Lato', sans-serif;
}

/*hover effect input navbar*/
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #ffffff;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before,
/*.hvr-underline-from-center:focus:before, - not works properly with dropdown*/
.hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}