body {
}

.navbar-inverse {
    background-color: #10446d;
    color: white;
}

h2 {
    color: #13334D;
}

.sitepanel{
    background-color: #eeeeee;
}

.parallax {
    /* The image used */
    background-image: url(Images/torres-1670879_1920.jpg);

    /* Set a specific height */
    min-height: 600px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slogan{
    font-family: 'Lato', sans-serif;
    color: white;
}

.slogan-main {
    font-size: 9vw;
}

.slogan-minor {
    font-size: 5vw;
}

.sloganContainer{
    margin-top: 14px;
    padding-top: 15em;
    padding-left: 2em;
}

/*dropdown opened color*/
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #10446d;
}