<div class="row">
    <div class="col-md-12 well well-sm">
        <h1 style="text-align: center">O firmie</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <h3 style="font-style: italic;">Szanowni Państwo,</h3>
    </div>
    <div class="col-md-12">
        <p>
            Pozyskanie dotacji unijnej to proces wymagający dużego nakładu pracy i znajomości regulaminów związanych z konkursami unijnymi.
            Dzięki współpracy z naszą firmą pozyskanie funduszy będzie dla Państwa łatwe i pozwoli zaoszczędzić mnóstwo czasu.
            Dbamy o kontakt z klientem na każdym etapie przygotowywania projektu poprzez systematyczny kontakt eksperta nadzorującego pisanie wniosku o dotację.
        </p>
        <p>Centrala firmy znajduje się w Pajęcznie w woj. łódzkim, jednakże zakres realizowanych projektów obejmuje całą Polskę.</p>
        <p>Aby zapewnić Państwu kompleksową obsługę planowania inwestycji, także od strony finansowej - nasza firma współpracuje z bankami oraz analitykami finansowymi.</p>
        <p>Nasz zespół doprowadzi Państwa przedsiębiorstwo do skutecznego pozyskania unijnego wsparcia.
            Zaproponowana przez nas strategia przyczyni się do rozwoju potencjału Państwa firmy. 
        Nad każdym projektem czuwa zespół zaangażowanych, doświadczonych specjalistów. 
        Z nami fundusze europejskie są na wyciągnięcie ręki.</p>
    </div>
</div>