<div id="building-grants-partial-div" class="row">
    <div class="col-md-12 well well-sm">
        <h1 style="text-align: center">Dotacje na poprawę efektywności energetycznej budynków</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>Wsparciu mogą zostać objęte projekty dotyczące:</p>
        <ul style="list-style-type: disc;">
            <li>
                poprawy efektywności energetycznej budynków - termomodernizacji, wymiany lub modernizacji źródła energii, wymiany okien i innych
                , poprzez zmniejszenie strat ciepła oraz zmniejszenie zużycia energii elektrycznej z ewentualnym uwzględnieniem Odnawialnych Źródeł Energii,
                <img src="~/Content/Images/BuildingGrants/solar_panels.jpg" alt="Solar panels">
            </li>
            <li>
                zastosowania technologii efektywnych energetycznie w przedsiębiorstwie (w tym modernizacja i rozbudowa linii produkcyjnych na
                bardziej efektywne energetycznie oraz wprowadzenie systemów zarządzania energią).
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>Pomoc inwestycyjna na środki wspierające efektywność energetyczną:</p>
        <ul style="list-style-type: disc;">
            <li>65% mikro, małe przedsiębiorstwa,</li>
            <li>55% średnie przedsiębiorstwa.</li>
        </ul>
    </div>
</div>