<div class="row">
    <div class="col-md-12 well well-sm">
        <h1 style="text-align: center">Kontakt</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @*TODO: style przenieść do osobnego css'a*@
        <img src="~/Content/Images/Contacts/contact_logo.jpg" alt="Contact logo" style="display: block; margin: auto;">
    </div>
</div>
<div class="row">
    <div class="col-md-9 text-center">
        <h2>Jak do nas dotrzeć</h2>
        <img src="~/Content/Images/Contacts/contact_map.jpg" alt="Contact logo" style="display: block; margin: auto;">
    </div>
    <div class="col-md-3">
        <h2><span class="glyphicon glyphicon-home"></span> Nasz adres</h2>
        <address>
            @*TODO: font-weight przenieść do CSS'a*@
            <p style="font-weight: bold;">LP Project</p>
            <p>ul. Wiśniowa 1</p>
            <p>98-330 Pajęczno</p>
            <p><span class="glyphicon glyphicon-earphone"></span> tel. 694-471-460
            </p>
        </address>
    </div>
</div>