<div class="row">
    <div class="col-md-12">
        <h1 style="text-align: center">Kontakt</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @*TODO: style przenieść do osobnego css'a*@
        <img src="~/Content/Images/Contacts/contact_logo.jpg" alt="Contact logo" style="display: block; margin: auto;">
    </div>
</div>
<div class="row">
    <div class="col-md-10">
        <h2>Jak do nas dotrzeć</h2>
        <h3>Poprawić stylowanie</h3>
        <img src="~/Content/Images/Contacts/contact_map.jpg" alt="Contact logo" style="display: block; margin: auto;">
    </div>
    <div class="col-md-2">
        <h2>Nasz adres</h2>
        <address>
            <p>LP Project</p>
            <p>ul. Wiśniowa 1</p>
            <p>98-330 Pajęczno</p>
            <p>tel. 694-471-460</p>
        </address>
    </div>
</div>