<div class="row">
    <div class="col-md-12 well well-sm">
        <h1 style="text-align: center">Proces współpracy</h1>
    </div>
</div>
@*TODO: 
 1. Obrazki ze strzałek zamienić na jeden obrazek + tekst naniesiony z poziomu kodu.
 2. Przenieść do CSS stylowanie "margin-top: 4em"*@
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2 text-right">
        <img src="~/Content/Images/Cooperation/arrow-down-01.png" alt="Arrow down">
    </div>
    <div class="col-md-8" text-left style="margin-top: 4em;">
        <p>Omówienie wnioskodawcy i planowanego projektu pod kątem sposobów jego dofinansowania.</p>
    </div>
    <div class="col-md-1"></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2 text-right">
        <img src="~/Content/Images/Cooperation/arrow-down-02.png" alt="Arrow down">
    </div>
    <div class="col-md-8" text-left style="margin-top: 4em;">
        <p>Analiza mocnych i słabych stron pod kątem uzyskania dotacji i rozliczenia projektu.</p>
    </div>
    <div class="col-md-1"></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2 text-right">
        <img src="~/Content/Images/Cooperation/arrow-down-03.png" alt="Arrow down">
    </div>
    <div class="col-md-8" text-left style="margin-top: 4em;">
        <p>Omówienie wnioskodawcy i planowanego projektu pod kątem sposobów jego dofinansowania.</p>
    </div>
    <div class="col-md-1"></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2 text-right">
        <img src="~/Content/Images/Cooperation/arrow-down-04.png" alt="Arrow down">
    </div>
    <div class="col-md-8" text-left style="margin-top: 4em;">
        <p>Przygotowanie dokumentacji zgodnej z wytycznymi konkursu i zaleceniami wnioskodawcy.</p>
    </div>
    <div class="col-md-1"></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2 text-right">
        <img src="~/Content/Images/Cooperation/arrow-down-05.png" alt="Arrow down">
    </div>
    <div class="col-md-8" text-left style="margin-top: 4em;">
        <p>Pomoc w realizacji inwestycji od wyboru dostawcy, analizy podpisywanych umów, wystawianych faktur, 
        przelewów, po odbiór inwestycji i przedstawienie dokumentacji instytucji rozliczającej.</p>
    </div>
    <div class="col-md-1"></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2 text-right">
        <img src="~/Content/Images/Cooperation/arrow-down-06.png" alt="Arrow down">
    </div>
    <div class="col-md-8" text-left style="margin-top: 4em;">
        <p>Asysta w trakcie kontroli instytucji przyznającej dotację.</p>
    </div>
    <div class="col-md-1"></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2 text-right">
        <img src="~/Content/Images/Cooperation/arrow-down-07.png" alt="Arrow down">
    </div>
    <div class="col-md-8" text-left style="margin-top: 4em;">
        <p>Przedstawienie możliwości dofinansowania kolejnych projektów, stałe informowanie firmy o możliwych nowych dotacjach.</p>
    </div>
    <div class="col-md-1"></div>
</div>