<div id="innovative-investments-partial-div" class="row">
    <div class="col-md-12 well well-sm">
        <h1 style="text-align: center">Innowacyjne działania inwestycyjne dla firm</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>Dofinansowanie można otrzymać na:</p>
        <ul style="list-style-type: disc;">
            <li>wprowadzenie na rynek nowych lub ulepszonych produktów lub usług</li>
            <li>dokonanie zasadniczych zmian procesu produkcyjnego lub sposobu świadczenia usług</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>W ramach działania możliwe jest pozyskanie dofinansowania m.in. na:</p>
        <ul style="list-style-type: disc;">
            <li>zakup środków trwałych – maszyn i urządzeń</li>
            <li>modernizacja nieruchomości</li>
            <li>zakup wartości niematerialnych i prawnych – specjalistycznego oprogramowania</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>Poziomy dofinansowania dla sektora małych i średnich przedsiębiorstw:</p>
        <ul style="list-style-type: disc;">
            <li>woj. dolnośląskie – do 45%</li>
            <li>woj. kujawsko-pomorskie – do 55%</li>
            <li>woj. lubelskie – do 70%</li>
            <li>woj. lubuskie – do 55%</li>
            <li>woj. łódzkie – do 55%</li>
            <li>woj. małopolskie – do 55%</li>
            <li>woj. mazowieckie – do 55%</li>
            <li>woj. opolskie – do 55%</li>
            <li>woj. podkarpackie – do 70%</li>
            <li>woj. podlaskie – do 70%</li>
            <li>woj. pomorskie – do 55%</li>
            <li>woj. śląskie – do 45%</li>
            <li>woj. świętokrzyskie – do 55%</li>
            <li>woj. warmińsko-mazurskie – do 70%</li>
            <li>woj. wielkopolskie – do 45%</li>
            <li>woj. zachodniopomorskie – do 55%</li>
        </ul>
    </div>
</div>
