
<br />

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        @*TODO: stworzyć nową klasę css i przenieść tam style="height: 250px;"*@
        <div class="item active" style="height: 250px">
            <img src="~/Content/Images/pocket-watch-1637394_1920.jpg" alt="Watch">
            <div class="carousel-caption">
                <h3>Doradztwo</h3>
                <p>@*Doradztwo gospodarcze i unijne.*@</p>
            </div>
        </div>

        @*TODO: stworzyć nową klasę css i przenieść tam style="height: 250px;"*@
        <div class="item" style="height: 250px">
            <img src="~/Content/Images/work-1699510_1920.jpg" alt="Money">
            <div class="carousel-caption">
                <h3>Dotacje</h3>
                <p>@*Dotacje, pożyczki unijne, biznes plany, doradztwo, sporzadzanie dokumentacji.*@</p>
            </div>
        </div>

        @*TODO: stworzyć nową klasę css i przenieść tam style="height: 250px;"*@
        <div class="item" style="height: 250px">
            <img src="~/Content/Images/torres-1670879_1920.jpg" alt="Watch">
            <div class="carousel-caption">
                <h3>Rozliczenia</h3>
                <p>@*Dotacje, pożyczki unijne, biznes plany, doradztwo, sporzadzanie dokumentacji.*@</p>
            </div>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<br />

<div class="jumbotron">
    <h1>Dotacje unijne dla firm.</h1>
    <p class="lead">Dotacje, pożyczki unijne, biznes plany, doradztwo, sporzadzanie dokumentacji.</p>
</div>