<div id="loans-partial-div" class="row">
    <div class="col-md-12 well well-sm">
        <h1 style="text-align: center">Pożyczki w ramach inicjatywy jeremie</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p><b>Przeznaczenie:</b></p>
        <ul style="list-style-type: disc;">
            <li>
                finansowanie inwestycji polegających m.in. na zakupie, budowie lub modernizacji obiektów produkcyjno-usługowo-handlowych,
            </li>
            <li>
                tworzenie nowych miejsc pracy,
            </li>
            <li>
                wdrażanie nowych rozwiązań technicznych lub technologicznych,
            </li>
            <li>
                zakup wyposażenia, maszyn, urządzeń, aparatów,
                 w tym także zakup środków transportu bezpośrednio związanych z celem realizowanego przedsięwzięcia.
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p><b>Warunki:</b></p>
        <ul style="list-style-type: disc;">
            <li>
                kwota pożyczki: pożyczka może być udzielona maksymalnie do wysokości 1 mln zł (w zależności od województwa),
            </li>
            <li>
                okres spłaty pożyczki: okres spłaty pożyczki wynosi maksymalnie 90 miesięcy od momentu podpisania umowy.
                 Dopuszczalny jest 6-miesięczny okres karencji w spłacie kapitału,
            </li>
            <li>
                wkład własny: minimalny wkład własny ubiegającego się o pożyczkę wynosi od 0% wartości przedsięwzięcia,
            </li>
            <li>
                oprocentowanie pożyczek wynosi od 0,5% w skali roku,
            </li>
            <li>
                zabezpieczenie: zabezpieczenie z tytułu pożyczki może stanowić m.in.: weksel in blanco,
                 poręczenie przez osoby trzecie, hipoteka, zastaw rejestrowy.
            </li>
        </ul>
    </div>
</div>