<div id="monument-grants-partial-div" class="row">
    <div class="col-md-12 well well-sm">
        <h1 style="text-align: center">Dotacje na remonty zabytków</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p><b>Przykładowe rodzaje projektów:</b>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>Prace w zabytkach nieruchomych, wpisanych do rejestru wraz z ich otoczeniem, obejmujące:</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <ul style="list-style-type: disc;">
            <li>
                rewitalizację, rewaloryzację, konserwację, renowację, restaurację
                , zachowanie i adaptację oraz roboty budowlane obiektów zabytkowych oraz obszarów zabytkowych;
            </li>
            <li>
                przystosowanie obiektów do pełnienia przez nie nowych funkcji
                (w szczególności do prowadzenia działalności kulturalnej i turystycznej) wraz z zakupem niezbędnego sprzętu/wyposażenia;
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <img src="~/Content/Images/MonumentGrants/monument.jpg" alt="Monument" style="display: block; margin: auto;">
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>Jako uzupełniający element będą mogły być realizowane:</p>
        <ul style="list-style-type: disc;">
            <li>
                dostosowanie infrastruktury do potrzeb osób niepełnosprawnych;
            </li>
            <li>
                adaptacja i zastosowanie środków ochrony (np. przeciwwłamaniowej i przeciwpożarowej);
            </li>
            <li>
                przedsięwzięcia dotyczące infrastruktury towarzyszącej (np. parkingi, chodniki, drogi);
            </li>
            <li>
                konserwacja, restauracja zabytków ruchomych znajdujących się w ww. zabytkach nieruchomych objętych wsparciem).
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>Poziom dofinansowania:</p>
        <ul style="list-style-type: disc;">
            <li>
                do 85% wydatków
            </li>
        </ul>
    </div>
</div>