<div class="row">
    <div class="col-md-12">
        <h1 style="text-align: center">Oferta</h1>
    </div>
    <div class="col-md-4">
        <h2>Doradztwo gospodarcze i unijne</h2>
        <p>
            Wspieranie firm w rozwoju planów gospodarczych i biznesowych. Pomoc w nawiązywaniu partnerstwa i współpracę z jednostkami naukowymi. Wskazywanie długofalowych możliwości pozyskiwania funduszy z Unii Europejskiej.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Pozyskanie dotacji</h2>
        <p>
            Dobór odpowiednich konkursów do sfinansowania inwestycji klienta. Przygotowanie całej dokumentacji oraz pomoc w przygotowaniu się do realizacji projektu.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Rozliczenie dotacji</h2>
        <p>
            Wsparcie Beneficjentów w procesie rozliczenia, służąc im radą i pomocą przy realizacji projektów unijnych. Czuwanie nad prawidłowym przygotowaniem dokumentów i przestrzeganiem wytycznych, począwszy od wyboru dostawców, skończywszy na przygotowaniu do kontroli, aż do wpływu dofinansowania na konto klienta.
        </p>
    </div>
</div>