<div id="recommended-sites-partial-div" class="row">
    <div class="col-md-12 well well-sm text-center">
        <h1>Polecane strony</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ul style="list-style-type: none;">
            <li>
                <span class="glyphicon glyphicon-chevron-right"></span>
                <a target="_blank" href="http://www.mapadotacji.gov.pl/">http://www.mapadotacji.gov.pl/</a>
            </li>
            <li>
                <span class="glyphicon glyphicon-chevron-right"></span>
                <a target="_blank" href="http://www.funduszeeuropejskie.gov.pl/">http://www.funduszeeuropejskie.gov.pl/</a>
            </li>
            <li>
                <span class="glyphicon glyphicon-chevron-right"></span>
                <a target="_blank" href="http://www.jeremie.com.pl/">http://www.jeremie.com.pl/</a>
            </li>
            <li>
                <span class="glyphicon glyphicon-chevron-right"></span>
                <a target="_blank" href="http://brzozowskikancelaria.pl/">http://brzozowskikancelaria.pl/</a>
            </li>
            <li>
                <span class="glyphicon glyphicon-chevron-right"></span>
                <a target="_blank" href="http://dip.dolnyslask.pl/">http://dip.dolnyslask.pl/</a>
            </li>
            <li>
                <span class="glyphicon glyphicon-chevron-right"></span>
                <a target="_blank" href="http://www.cop.lodzkie.pl/">http://www.cop.lodzkie.pl/</a>
            </li>
        </ul>
    </div>
</div>