<div id="safety-improvements-partial-div" class="row">
    <div class="col-md-12 well well-sm text-center">
        <h1>Działania związane z poprawą bezpieczeństwa</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>Program finansuje działalność związaną z zapobieganiem wypadkom przy pracy i chorobom zawodowym.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>W szczególności dofinansowanie można pozyskać na działania skierowane na utrzymanie
            zdolności do pracy przez cały okres aktywności zawodowej pracowników:
        </p>
        <ul style="list-style-type: disc;">
            <li><b>projekty inwestycyjne</b> - aspekty bezpieczeństwa technicznego (zakup maszyn i urządzeń oraz systemów
                i środków ochronnych zmniejszających obciążenia fizyczne pracowników (np. wózki widłowe, suwnice) bądź
                zmniejszające szkodliwe czynniki – zapylenie, czynniki chemiczne, czynniki biologiczne, hałas, promieniowanie
                , niedostateczne oświetlenie miejsca pracy, itd.),
            </li>
            <li><b>projekty doradcze</b> - zorientowane na poprawę zarządzania bezpieczeństwem i higieną pracy, w tym na realizację oceny ryzyka zawodowego
                , wprowadzenie procedur bezpiecznej pracy oraz planowanie i monitorowanie działań prewencyjnych w zakresie BHP,</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>Poziom dofinansowania:</p>
        <table class="table">
            <thead>
                <tr>
                    <th>Rodzaj przedsiębiorstwa</th>
                    <th>Liczba pracowników</th>
                    <th>Poziom dofinansowania</th>
                    <th>Maksymalna kwota dofinansowania dla projektów doradczych (w PLN)</th>
                    <th>Maksymalna kwota dofinansowania dla projektów inwestycyjnych (w PLN)</th>
                    <th>Maksymalna kwota dofinansowania dla projektów inwestycyjno-doradczych (w PLN)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Mikro przedsiębiorstwo</td>
                    <td>1 - 9</td>
                    <td>90%</td>
                    <td>40 000</td>
                    <td>100 000</td>
                    <td>140 000</td>
                </tr>
                <tr>
                    <td>Małe przedsiębiorstwo</td>
                    <td>10 - 49</td>
                    <td>80%</td>
                    <td>60 000</td>
                    <td>150 000</td>
                    <td>210 000</td>
                </tr>
                <tr>
                    <td>Średnie przedsiębiorstwo</td>
                    <td>50 - 249</td>
                    <td>60%</td>
                    <td>80 000</td>
                    <td>260 000</td>
                    <td>340 000</td>
                </tr>
                <tr>
                    <td>Duże przedsiębiorstwo</td>
                    <td>250 i więcej</td>
                    <td>20%</td>
                    <td>100 000</td>
                    <td>400 000</td>
                    <td>500 000</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>