<div id="village-grants-partial-div" class="row">
    <div class="col-md-12 well well-sm">
        <h1 style="text-align: center">Dotacje dla firm działających na terenach wiejskich</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p><b>Przykładowe rodzaje wydatków:</b></p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table>
            <thead>
            <tr>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <p>1) zakup nowych maszyn, urządzeń lub wyposażenia,</p>
                </td>
                <td>
                    <img src="~/Content/Images/VillageGrants/excavator.jpg" alt="Excavator">
                </td>
            </tr>
            <tr>
                <td>
                    <p>2) roboty budowlane związane z budową zakładu, obiektu usługowego, itd.,</p>
                </td>
                <td>
                    <img src="~/Content/Images/VillageGrants/house.jpg" alt="House">
                </td>
            </tr>
            <tr>
                <td>
                    <p>3) zakup lub rozwój wartości niematerialnych i prawych - oprogramowania, patentów, licencji, itd.</p>
                </td>
                <td>
                    <img src="~/Content/Images/VillageGrants/software.jpg" alt="Software">
                </td>
            </tr>
            <tr>
                <td>
                    <p>4) zakupu środków transportu, z wyłączeniem zakupu samochodów osobowych przeznaczonych do przewozu mniej niż 8 osób łącznie z kierowcą,</p>
                </td>
                <td>
                    <img src="~/Content/Images/VillageGrants/car.jpg" alt="Car">
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p><b>Obowiązki po otrzymaniu dotacji na rozwój działalności gospodarczej:</b></p>
        <ul style="list-style-type: disc;">
            <li>
                utworzenie co najmniej jednego miejsca pracy w przeliczeniu na pełne etaty średnioroczne,
            </li>
            <li>
                utrzymanie utworzonych miejsc pracy do dnia, w którym upłynie 3 lata od dnia wypłaty płatności końcowej.
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p><b>Wysokość dotacji:</b></p>
        <p>do 300tys. złotych</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p><b>Poziom dofinansowania:</b></p>
        <p>do 70%</p>
    </div>
</div>